.navigation {
    padding: 32px 28px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 0 40px 0 rgba(94, 92, 154, .06);;
    margin: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navigationIcon {
    color: #3E3F5E;
}

.navigationLink {
    color: black;
    text-decoration: none;
}