.main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.widgetBox {
    padding: 32px 28px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 0 40px 0 rgba(94, 92, 154, .06);;
    margin-bottom: 10px;
}

.informationLine {
    display: flex;
    flex-direction: row;
}

.mainTitle {
    font-size: 1rem;
    font-weight: 700;
    color: #3E3F5E;
    margin-bottom: 10px;
}

.interestsTitle {
    font-size: 0.875rem;
    font-weight: 700;
}

.informationTitle {
    color: #8f91ac;
    flex-shrink: 0;
    width: 80px;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.4285714286em;
    word-break: break-word;
    margin-bottom: 10px;
}

.informationText {
    color: #3E3F5E;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.4285714286em;
    word-break: break-word;
    text-decoration: none;
    margin-bottom: 10px;
}

@media (max-width: 1439px) {
    .main{
        flex-direction: column;
    }
}